{% extends "base_generic.html" %}

{% block content %}

<div class="row">
  <div class="col-lg-12">
      <div class="card">
          <div class="card-body border-bottom">
              <div class="d-flex align-items-center">
                  <h5 class="mb-0 card-title flex-grow-1">Auhtors List</h5>
                  <div class="flex-shrink-0">
                      <a href="{% url 'catalog:author-create' %}" class="btn btn-primary">Add New Author</a>
                      <a href="{% url 'catalog:authors' %}" class="btn btn-light"><i class="mdi mdi-refresh"></i></a>
                      <div class="dropdown d-inline-block">

                          <button type="menu" class="btn btn-success" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false"><i class="mdi mdi-dots-vertical"></i></button>
                          <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                              <li><a class="dropdown-item" href="#">Action</a></li>
                              <li><a class="dropdown-item" href="#">Another action</a></li>
                              <li><a class="dropdown-item" href="#">Something else here</a></li>
                          </ul>
                      </div>
                  </div>
              </div>
          </div>
          <div class="card-body border-bottom">
              <div class="row g-3">
                  <div class="col-xxl-4 col-lg-6">
                      <input type="search" class="form-control" id="searchInput" placeholder="Search for ...">
                  </div>
                  <div class="col-xxl-2 col-lg-6">
                      <select class="form-control select2">
                          <option>Status</option>
                          <option value="Active">Active</option>
                          <option value="New">New</option>
                          <option value="Close">Close</option>
                      </select>
                  </div>
                  <div class="col-xxl-2 col-lg-4">
                      <select class="form-control select2">
                          <option>Select Type</option>
                          <option value="1">Full Time</option>
                          <option value="2">Part Time</option>
                      </select>
                  </div>
                  <div class="col-xxl-2 col-lg-4">
                      <div id="datepicker1">
                          <input type="text" class="form-control" placeholder="Select date" data-date-format="dd M, yyyy" data-date-autoclose="true" data-date-container='#datepicker1' data-provide="datepicker">
                      </div><!-- input-group -->
                  </div>
                  <div class="col-xxl-2 col-lg-4">
                      <button type="button" class="btn btn-soft-secondary w-100"><i class="mdi mdi-filter-outline align-middle"></i> Filter</button>
                  </div>
              </div>
          </div>
          <div class="card-body">
              
              <div class="table-responsive">
                  <table class="table table-bordered align-middle nowrap">
                      <thead>
                          <tr>
                              <th scope="col">ID</th>
                              <th scope="col">First Name</th>
                              <th scope="col">Last Name</th>
                              <th scope="col">Date of Birth</th>
                              <th scope="col">Date of Death</th>                              
                              <th scope="col">Status</th>
                              <th scope="col">Action</th>
                          </tr>
                      </thead>
                      <tbody>
                        {% for author in author_list %}
                          <tr>
                              <th scope="row">{{ author.id }}</th>
                              <!-- <td>{{ author }}</td> -->
                              <td>{{ author.first_name }}</td>
                              <td>{{ author.last_name }}</td>                           
                              
                              <td>{{author.date_of_birth}}</td>
                              <td>{% if author.date_of_death %}{{author.date_of_death}}{% endif %}</td>
                              <td><span class="badge bg-success">Active</span></td>
                              <td>
                                  <ul class="list-unstyled hstack gap-1 mb-0">
                                      <li data-bs-toggle="tooltip" data-bs-placement="top" title="View">
                                          <a href="{{ author.get_absolute_url }}" class="btn btn-sm btn-soft-primary"><i class="mdi mdi-eye-outline"></i></a>
                                      </li>
                                      <li data-bs-toggle="tooltip" data-bs-placement="top" title="Edit">
                                          <a href="#" class="btn btn-sm btn-soft-info"><i class="mdi mdi-pencil-outline"></i></a>
                                      </li>
                                      <li data-bs-toggle="tooltip" data-bs-placement="top" title="Delete">
                                          <a href="#jobDelete" data-bs-toggle="modal" class="btn btn-sm btn-soft-danger"><i class="mdi mdi-delete-outline"></i></a>
                                      </li>
                                  </ul>
                              </td>
                          </tr>
                          {% endfor %}
                          
 
                      </tbody>
                  </table>
              </div>
              <div class="row justify-content-between align-items-center">
                  <div class="col-auto me-auto">
                      <p class="text-muted mb-0">Showing <b>1</b> to <b>12</b> of <b>45</b> entries</p>
                  </div>
                  <div class="col-auto">
                      <div class="card d-inline-block ms-auto mb-0">
                          <div class="card-body p-2">
                              <nav aria-label="Page navigation example" class="mb-0">
                                  <ul class="pagination mb-0">
                                      <li class="page-item">
                                          <a class="page-link" href="javascript:void(0);" aria-label="Previous">
                                              <span aria-hidden="true">&laquo;</span>
                                          </a>
                                      </li>
                                      <li class="page-item"><a class="page-link" href="javascript:void(0);">1</a></li>
                                      <li class="page-item active"><a class="page-link" href="javascript:void(0);">2</a></li>
                                      <li class="page-item"><a class="page-link" href="javascript:void(0);">3</a></li>
                                      <li class="page-item"><a class="page-link" href="javascript:void(0);">...</a></li>
                                      <li class="page-item"><a class="page-link" href="javascript:void(0);">12</a></li>
                                      <li class="page-item">
                                          <a class="page-link" href="javascript:void(0);" aria-label="Next">
                                              <span aria-hidden="true">&raquo;</span>
                                          </a>
                                      </li>
                                  </ul>
                              </nav>
                          </div>
                      </div>
                  </div>
                  <!--end col-->
              </div>
              <!--end row-->
          </div>
      </div><!--end card-->
  </div><!--end col-->

</div><!--end row-->


</div> <!-- container-fluid -->
</div><!-- End Page-content -->

<!-- Modal -->
<div class="modal fade" id="jobDelete" tabindex="-1" aria-labelledby="jobDeleteLabel" aria-hidden="true">
<div class="modal-dialog modal-dialog-centered modal-sm">
<div class="modal-content">
  <div class="modal-body px-4 py-5 text-center">
      <button type="button" class="btn-close position-absolute end-0 top-0 m-3" data-bs-dismiss="modal" aria-label="Close"></button>
      <div class="avatar-sm mb-4 mx-auto">
          <div class="avatar-title bg-primary text-primary bg-opacity-10 font-size-20 rounded-3">
              <i class="mdi mdi-trash-can-outline"></i>
          </div>
      </div>
      <p class="text-muted font-size-16 mb-4">Are you sure you want to permanently erase the job.</p>
      
      <div class="hstack gap-2 justify-content-center mb-0">
          <button type="button" class="btn btn-danger">Delete Now</button>
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      </div>
  </div>
</div>
</div>
</div>

<!-- Basic Structure-->>
<!-- <h1>Author List</h1>

{% if author_list %}
  <ul>

  {% for author in author_list %}
    <li>
      <a href="{{ author.get_absolute_url }}">
      {{ author }} ({{author.date_of_birth}} - {% if author.date_of_death %}{{author.date_of_death}}{% endif %})
      </a>
    </li>
  {% endfor %}

 </ul>
{% else %}
  <p>There are no authors available.</p>
{% endif %}
        
        
        
{% endblock %} -->

